{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class="projects-sect">

    <section class="main-header">
        <h1><span>Projects</span> Gallery</h1>
    </section>

    <main class="contain">
        <div class="button-group">
            <button type="button" class="active" id="btn1"><a href="{% url 'projects' %}">All</a></button>
            {% for category in categories %}
                <button type="button" data-filter=""><a href="{% url 'projects' %}?category={{category.name}}"> {{category}}</a></button>  
            {% endfor %}                       
        </div>

        {% for project in all_projects %}
        <sect class="card" data-aos="fade-left">
            <img src="{{project.image.url}}" alt="image-2">
            <div>
                <h3>{{project.name}}</h3>
                <p>{{project.description|truncatechars:200|safe}}</p>
                <a href="{% url 'project-details' project.id %}" class="btn btn-secondary btnz">View details</a>
                {% if request.user.is_authenticated %}
                <div class="my-3 pt-3 flex">
                    <a href="{% url 'edit-project' project.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'delete-project' project.id %}" class="btn btn-danger">Delete</a>
                </div>
                {% endif %}
            </div>
        </sect>
        {% endfor %}
        <hr>
        <div class="my-3 pt-3 flex">
            <a class="btn btn-block btn-secondary mt-2 float-end" onclick="history.back()"><i class="fa fa-arrow-left" arial-hidden="true"></i> Back </a>
        </div>

    </main>
</div>

{% endblock %}